*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
body{
    padding: 100px 15px;
}
.inner{
    display: flex;
    flex-direction: column;
    row-gap: 45px;
}
.content{
    display: flex;
    justify-content: center;
}
.top{
    background-image: url('image/image2.webp');
    background-size: cover;
    
}