*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
.inner{
    display: flex;
    flex-direction: column;
    row-gap: 45px;
}
.content{
    display: flex;
    justify-content: center;
}